p {
    font-family: Roboto Mono , Arial;
    margin-top:0;
    margin-bottom: 0;
}

.Txt {
    font-family: Arial;
    font-size: 15px;
    color:rgb(0, 0, 0);
    width: 200px;
    margin-top:10px;

}

.P1 , .P2 {
    display: inline-block;
    color: grey;
    font-size: 10px;
    line-height: 10px;
}